:root{
  --color-principal: #fffd87;
  --color-secundario: #6f71ff; 
}

*{
  margin: 0%;
}

body{
  background-color: var(--color-principal);
}

.titulo{
  font-family: titulo;
  font-size: 48px;
  background-color: rgba(255, 255, 255, 0.509);
  border-radius: 50px;  
  margin: 10px;
  position: fixed;
  left: 50px;
  z-index: 1;
  border: 2px solid black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

nav{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  flex-direction: row;
}

.dif-arr{
  width: 100%;
  height: 125px;
  background-color: rgb(255, 255, 255);
  filter: blur(1.2rem);
  position: fixed;
  top: 0;
  left: 0;
}