:root{
  --color-principal: #fffd87;
  --color-secundario: #6f71ff; 
}

*{
  margin: 0%;
}

body{
  background-color: var(--color-principal);
}

.titulo{
  font-family: titulo;
  font-size: 72px;
  color: #000;
  border-radius: 50px;  
  margin: 20px;
  position: fixed;
  left:8%;
  top: -2.3%;
  z-index: 1;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.dif-arr{
  width: 80%;
  height: 90px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 15px;
  top: 2%;
  align-self: center;
  left: 8%;
}

nav{
  display: flex;
  flex-direction: row;
  font-family: poppins;
}

#u{
  background-color: #6f71ff;
  height: 500px;
  margin-top: 100px;
}


